<div class="shop-detail-wrapper">
    <div class="pro-head">
        <h2>{{shop}}</h2>
    </div>
    <div class="shop-info-wrapper">
        <table class="table table-borderless">
            <thead>
            </thead>
            <tbody>
            <tr>
                <th>Chủ sở hữu: </th>
                <td>Nguyễn Văn A</td>
                <th>Địa chỉ: </th>
                <td>227 Nguyễn Văn Cừ Q5 TP Hồ Chí Minh</td>

            </tr>
            <tr>
                <th>Đánh giá: </th>
                <td>...</td>
                <th>Tỉnh thành: </th>
                <td>TP Hồ Chí Minh</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pro-head">
        <h2>Sản phẩm</h2>
    </div>
    <div class="row">
        <div class="col-md-3 product-grid">
            <div class="product-items">
                <div class="project-eff">
                    <div id="nivo-lightbox-demo"> <p> <a href="images/pro1.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                    <img class="img-responsive" src="images/pro1.jpg" alt="">
                </div>
                <div class="produ-cost">
                    <h4>Áo 1</h4>
                    <h5>1.000.000 VNĐ</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 product-grid">
            <div class="product-items">
                <div class="project-eff">
                    <div id="nivo-lightbox-demo"> <p> <a href="images/pro2.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                    <img class="img-responsive" src="images/pro2.jpg" alt="">
                </div>
                <div class="produ-cost">
                    <h4>Túi 1</h4>
                    <h5>1.000.000 VNĐ</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 product-grid">
            <div class="product-items">
                <div class="project-eff">
                    <div id="nivo-lightbox-demo"> <p> <a href="images/pro3.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                    <img class="img-responsive" src="images/pro3.jpg" alt="">
                </div>
                <div class="produ-cost">
                    <h4>Túi 2</h4>
                    <h5>1.000.000 VNĐ</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 product-grid">
            <div class="product-items">
                <div class="project-eff">
                    <div id="nivo-lightbox-demo"> <p> <a href="images/pro4.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                    <img class="img-responsive" src="images/pro4.jpg" alt="">
                </div>
                <div class="produ-cost">
                    <h4>Áo 2</h4>
                    <h5>1.000.000 VNĐ</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 product-grid">
            <div class="product-items">
                <div class="project-eff">
                    <div id="nivo-lightbox-demo"> <p> <a href="images/pro6.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                    <img class="img-responsive" src="images/pro6.jpg" alt="">
                </div>
                <div class="produ-cost">
                    <h4>Áo 3</h4>
                    <h5>1.000.000 VNĐ</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 product-grid">
            <div class="product-items">
                <div class="project-eff">
                    <div id="nivo-lightbox-demo"> <p> <a href="images/pro8.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                    <img class="img-responsive" src="images/pro8.jpg" alt="">
                </div>
                <div class="produ-cost">
                    <h4>Macbook</h4>
                    <h5>1.000.000 VNĐ</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 product-grid">
            <div class="product-items">
                <div class="project-eff">
                    <div id="nivo-lightbox-demo"> <p> <a href="images/pro9.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                    <img class="img-responsive" src="images/pro9.jpg" alt="">
                </div>
                <div class="produ-cost">
                    <h4>Đầm 2</h4>
                    <h5>1.000.000 VNĐ</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 product-grid">
            <div class="product-items">
                <div class="project-eff">
                    <div id="nivo-lightbox-demo"> <p> <a href="images/pro10.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                    <img class="img-responsive" src="images/pro10.jpg" alt="">
                </div>
                <div class="produ-cost">
                    <h4>Ti vi</h4>
                    <h5>10.000.000 VNĐ</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 product-grid">
            <div class="product-items">
                <div class="project-eff">
                    <div id="nivo-lightbox-demo"> <p> <a href="images/pro2.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                    <img class="img-responsive" src="images/pro2.jpg" alt="">
                </div>
                <div class="produ-cost">
                    <h4>Túi 1</h4>
                    <h5>1.000.000 VNĐ</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 product-grid">
            <div class="product-items">
                <div class="project-eff">
                    <div id="nivo-lightbox-demo"> <p> <a href="images/pro3.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                    <img class="img-responsive" src="images/pro3.jpg" alt="">
                </div>
                <div class="produ-cost">
                    <h4>Túi 2</h4>
                    <h5>1.000.000 VNĐ</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 product-grid">
            <div class="product-items">
                <div class="project-eff">
                    <div id="nivo-lightbox-demo"> <p> <a href="images/pro4.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                    <img class="img-responsive" src="images/pro4.jpg" alt="">
                </div>
                <div class="produ-cost">
                    <h4>Áo 2</h4>
                    <h5>1.000.000 VNĐ</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 product-grid">
            <div class="product-items">
                <div class="project-eff">
                    <div id="nivo-lightbox-demo"> <p> <a href="images/pro5.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                    <img class="img-responsive" src="images/pro5.jpg" alt="">
                </div>
                <div class="produ-cost">
                    <h4>Đầm 1</h4>
                    <h5>1.000.000 VNĐ</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 product-grid">
            <div class="product-items">
                <div class="project-eff">
                    <div id="nivo-lightbox-demo"> <p> <a href="images/pro6.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                    <img class="img-responsive" src="images/pro6.jpg" alt="">
                </div>
                <div class="produ-cost">
                    <h4>Áo 3</h4>
                    <h5>1.000.000 VNĐ</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 product-grid">
            <div class="product-items">
                <div class="project-eff">
                    <div id="nivo-lightbox-demo"> <p> <a href="images/pro7.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                    <img class="img-responsive" src="images/pro7.jpg" alt="">
                </div>
                <div class="produ-cost">
                    <h4>Iphone 11</h4>
                    <h5>1.000.000 VNĐ</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 product-grid">
            <div class="product-items">
                <div class="project-eff">
                    <div id="nivo-lightbox-demo"> <p> <a href="images/pro8.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                    <img class="img-responsive" src="images/pro8.jpg" alt="">
                </div>
                <div class="produ-cost">
                    <h4>Macbook</h4>
                    <h5>1.000.000 VNĐ</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 product-grid">
            <div class="product-items">
                <div class="project-eff">
                    <div id="nivo-lightbox-demo"> <p> <a href="images/pro10.jpg"data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"><span class="rollover1"> </span> </a></p></div>
                    <img class="img-responsive" src="images/pro10.jpg" alt="">
                </div>
                <div class="produ-cost">
                    <h4>Ti vi</h4>
                    <h5>10.000.000 VNĐ</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>