<div class="shop-wrapper">
    <div class="pro-head">
        <h2>Quản lý cửa hàng</h2>
    </div>
    <div class="table-wrapper table-responsive">
        <table class="table">
            <thead>
                <tr class="success text-center">
                    <th scope="col">#</th>
                    <th scope="col">Tên cửa hàng</th>
                    <th scope="col">Chủ sở hữu</th>
                    <th scope="col" class="text-center">Địa chỉ</th>
                    <th scope="col">Tỉnh thành</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <form action="/shop_detail" method="post">
                            <input type="hidden" name="shop" value="Cửa hàng A"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success">Cửa hàng A</a>
                        </form>
                    </td>
                    <td>G-Dragon</td>
                    <td>228 Seoul Hàn Quốc</td>
                    <td>Seoul</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        <form action="/shop_detail" method="post">
                            <input type="hidden" name="shop" value="Cửa hàng B"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success">Cửa hàng B</a>
                        </form>
                    </td>
                    <td>A Van Nguyen</td>
                    <td>227 Nguyễn Văn Cừ TP Hồ Chí Minh</td>
                    <td>TP HCM</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>
                        <form action="/shop_detail" method="post">
                            <input type="hidden" name="shop" value="Cửa hàng C"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success">Cửa hàng C</a>
                        </form>
                    </td>
                    <td>Le B Van</td>
                    <td>233 Đường số 69 Quận TP Hồ Chí Minh</td>
                    <td>TP HCM</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        <form action="/shop_detail" method="post">
                            <input type="hidden" name="shop" value="Cửa hàng D"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success">Cửa hàng D</a>
                        </form>
                    </td>
                    <td>Tran C Ba</td>
                    <td>2 Ba Vi Hà Nội</td>
                    <td>Hà Nội</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>
                        <form action="/shop_detail" method="post">
                            <input type="hidden" name="shop" value="Cửa hàng E"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success">Cửa hàng E</a>
                        </form>
                    </td>
                    <td>Pham Thi Banh</td>
                    <td>25 Tô Châu Quảng Ngãi</td>
                    <td>Quảng Ngãi</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>
                        <form action="/shop_detail" method="post">
                            <input type="hidden" name="shop" value="Cửa hàng F"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success">Cửa hàng F</a>
                        </form>
                    </td>
                    <td>G-Dragon</td>
                    <td>228 Seoul Hàn Quốc</td>
                    <td>Seoul</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>
                        <form action="/shop_detail" method="post">
                            <input type="hidden" name="shop" value="Cửa hàng G"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success">Cửa hàng G</a>
                        </form>
                    </td>
                    <td>A Van Nguyen</td>
                    <td>227 Nguyễn Văn Cừ TP Hồ Chí Minh</td>
                    <td>TP HCM</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>
                        <form action="/shop_detail" method="post">
                            <input type="hidden" name="shop" value="Cửa hàng H"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success">Cửa hàng H</a>
                        </form>
                    </td>
                    <td>Le B Van</td>
                    <td>233 Đường số 69 Quận TP Hồ Chí Minh</td>
                    <td>TP HCM</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>
                        <form action="/shop_detail" method="post">
                            <input type="hidden" name="shop" value="Cửa hàng I"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success">Cửa hàng I</a>
                        </form>
                    </td>
                    <td>Tran C Ba</td>
                    <td>2 Ba Vi Hà Nội</td>
                    <td>Hà Nội</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>
                        <form action="/shop_detail" method="post">
                            <input type="hidden" name="shop" value="Cửa hàng J"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success">Cửa hàng J</a>
                        </form>
                    </td>
                    <td>Pham Thi Banh</td>
                    <td>25 Tô Châu Quảng Ngãi</td>
                    <td>Quảng Ngãi</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"> </div>
</div>