<div class="user-wrapper">
    <div class="pro-head">
        <h2>Quản lý người dùng</h2>
    </div>
    <div class="table-wrapper table-responsive">
        <table class="table">
            <thead>
            <tr class="success text-center">
                <th scope="col">#</th>
                <th scope="col">Tên tài khoản</th>
                <th scope="col">Tên người dùng</th>
                <th scope="col">Email</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col" class="text-center">Địa chỉ</th>
                <th scope="col">Tỉnh thành</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <form action="/user_detail" method="post">
                            <input type="hidden" name="user" value="Nguyễn Văn A"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success text-"><u>NVA</u></a>
                        </form>
                    </td>
                    <td>Nguyễn Văn A</td>
                    <td>nva@gmail.com</td>
                    <td>123456789</td>
                    <td>228 Seoul Hàn Quốc</td>
                    <td>Seoul</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        <form action="/user_detail" method="post">
                            <input type="hidden" name="user" value="Nguyễn Văn B"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success"><u>NVB</u></a>
                        </form>
                    </td>
                    <td>Nguyễn Văn B</td>
                    <td>nvb@gmail.com</td>
                    <td>123456789</td>
                    <td>227 Nguyễn Văn Cừ Q5 TP HCM</td>
                    <td>TP HCM</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>
                        <form action="/user_detail" method="post">
                            <input type="hidden" name="user" value="Nguyễn Văn C"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success"><u>NVC</u></a>
                        </form>
                    </td>
                    <td>Nguyễn Văn C</td>
                    <td>nvc@gmail.com</td>
                    <td>123456789</td>
                    <td>233 Đường số 69 Quận TP Hồ Chí Minh</td>
                    <td>TP HCM</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        <form action="/user_detail" method="post">
                            <input type="hidden" name="user" value="Nguyễn Văn D"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success"><u>NVD</u></a>
                        </form>
                    </td>
                    <td>Nguyễn Văn D</td>
                    <td>nvd@gmail.com</td>
                    <td>123456789</td>
                    <td>2 Ba Vi Hà Nội</td>
                    <td>Hà Nội</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>
                        <form action="/user_detail" method="post">
                            <input type="hidden" name="user" value="Nguyễn Văn E"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success"><u>NVE</u></a>
                        </form>
                    </td>
                    <td>Nguyễn Văn E</td>
                    <td>nve@gmail.com</td>
                    <td>123456789</td>
                    <td>25 Tô Châu Quảng Ngãi</td>
                    <td>Quảng Ngãi</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>
                        <form action="/user_detail" method="post">
                            <input type="hidden" name="user" value="Nguyễn Văn F"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success"><u>NVF</u></a>
                        </form>
                    </td>
                    <td>Nguyễn Văn F</td>
                    <td>nvf@gmail.com</td>
                    <td>123456789</td>
                    <td>228 Seoul Hàn Quốc</td>
                    <td>Seoul</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>
                        <form action="/user_detail" method="post">
                            <input type="hidden" name="user" value="Nguyễn Văn G"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success"><u>NVG</u></a>
                        </form>
                    </td>
                    <td>Nguyễn Văn G</td>
                    <td>nvg@gmail.com</td>
                    <td>123456789</td>
                    <td>227 Nguyễn Văn Cừ Q5 TP HCM</td>
                    <td>TP HCM</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>
                        <form action="/user_detail" method="post">
                            <input type="hidden" name="user" value="Nguyễn Văn H"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success"><u>NVH</u></a>
                        </form>
                    </td>
                    <td>Nguyễn Văn H</td>
                    <td>nvh@gmail.com</td>
                    <td>123456789</td>
                    <td>233 Đường số 69 Quận TP Hồ Chí Minh</td>
                    <td>TP HCM</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>
                        <form action="/user_detail" method="post">
                            <input type="hidden" name="user" value="Nguyễn Văn I"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success"><u>NVI</u></a>
                        </form>
                    </td>
                    <td>Nguyễn Văn I</td>
                    <td>nvi@gmail.com</td>
                    <td>123456789</td>
                    <td>2 Ba Vi Hà Nội</td>
                    <td>Hà Nội</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>
                        <form action="/user_detail" method="post">
                            <input type="hidden" name="user" value="Nguyễn Văn J"/>
                            <a href="#" onclick="this.parentNode.submit(); return false;" class="text-success"><u>NVJ</u></a>
                        </form>
                    </td>
                    <td>Nguyễn Văn J</td>
                    <td>nvj@gmail.com</td>
                    <td>123456789</td>
                    <td>25 Tô Châu Quảng Ngãi</td>
                    <td>Quảng Ngãi</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"> </div>
</div>